<div class="col-sm-12 form-container">
<% /* フォーム */ %>
<form method="post" class="form-horizontal" >
  <div class="menu-group">
    <div style="padding:0px 0px 4px 10px;" >
      <a href="/master/tickettypes">券種グループマスタ一覧へ</a>
    </div>
    <% /* メッセージ */ %>
    <% if (message != '') { %>
        <p class="error message">
          <%= message %>
        </p>
    <% } %>
  </div>
  <% /* 券種グループコード */ %>
  <div class="form-group ">
    <label for="_id" class="col-sm-2 control-label label-title">
      券種グループコード<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="_id" id="_id" placeholder="" maxlength=64 value="<%= req.body._id %>">
      <p class="message">
          半角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors._id) { %>
          <%- errors._id.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 券種グループ名 */ %>
  <div class="form-group ">
    <label for="nameJa" class="col-sm-2 control-label label-title">
      券種グループ名<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="nameJa" id="nameJa" placeholder="" maxlength=64 value="<%= req.body.nameJa %>">
      <p class="message">
          全角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.nameJa) { %>
          <%- errors.nameJa.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 対象券種名 */ %>
  <div class="form-group ">
    <label for="ticketTypes" class="col-sm-2 control-label label-title">
      対象券種名<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <div class="form-control" style="height:auto;line-height:40px;">
      <% ticketTypes.forEach((ticketType) => { %>
        <span class="form-control" style="display:inline;background-color:#F2F2F2;margin:0px 5px 0px 5px">
          <span><%=ticketType.text%></span>
          <input type="checkbox" name="ticketTypes" value="<%=ticketType.value%>">
        </span>
      <% }) %>
      </div>
      <p class="error message">
        <% if (errors && errors.ticketTypes) { %>
          <%- errors.ticketTypes.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 補足説明 */ %>
  <div class="form-group ">
    <label for="descriptionJa" class="col-sm-2 control-label label-title">
      補足説明
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="descriptionJa" id="descriptionJa" placeholder="" maxlength=64 value="<%= req.body.descriptionJa %>">
      <p class="message">
          全角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.descriptionJa) { %>
          <%- errors.descriptionJa.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 登録ボタン */ %>
  <div class="form-group">
    <div class="btn-area">
      <a class="btn btn-ok"><span>登録する</span></a>
    </div>
  </div>
</form>
</div>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });
});
</script>
