<% /* 券種グループ名 */ %>
<div class="form-group ">
    <label for="nameJa" class="col-sm-2 control-label label-title">
        券種グループ名<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="nameJa" id="nameJa" placeholder="" maxlength=64 value="<%= forms.nameJa %>">
        <p class="message">
            全角64文字以内でご入力ください。
        </p>
        <p class="error message">
            <% if (errors && errors.nameJa) { %>
            <%- errors.nameJa.msg %>
            <% } %>
        </p>
    </div>
</div>

<% /* 対象券種名 */ %>
<div class="form-group ">
    <label for="ticketTypes" class="col-sm-2 control-label label-title">
        対象券種名<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
        <div class="form-control" style="height:auto;line-height:40px;">
            <% ticketTypes.forEach((ticketType) => { %>
            <span class="form-control" style="display:inline;background-color:#F2F2F2;margin:0px 5px 0px 5px">
            <span><%= ticketType.get('name').ja %></span>
                <% if (forms.ticketTypes.indexOf(ticketType.get('_id')) > -1) { %>
                <input checked type="checkbox" name="ticketTypes" value="<%= ticketType.get('_id') %>">
                <% } else { %>
                <input type="checkbox" name="ticketTypes" value="<%= ticketType.get('_id') %>">
                <% } %>
            </span>
            <% }) %>
        </div>
        <p class="error message">
            <% if (errors && errors.ticketTypes) { %>
            <%- errors.ticketTypes.msg %>
            <% } %>
        </p>
    </div>
</div>

<% /* 補足説明 */ %>
<div class="form-group ">
    <label for="descriptionJa" class="col-sm-2 control-label label-title">
        補足説明
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="descriptionJa" id="descriptionJa" placeholder="" maxlength=64 value="<%= forms.descriptionJa %>">
        <p class="message">
            全角64文字以内でご入力ください。
        </p>
        <p class="error message">
            <% if (errors && errors.descriptionJa) { %>
            <%- errors.descriptionJa.msg %>
            <% } %>
        </p>
    </div>
</div>