<%- contentFor('title') %>
券種グループマスタ更新
<%- contentFor('displayId') %>
Aa-7
<%- contentFor('body') %>
<div class="col-sm-12 form-container">
    <% /* フォーム */ %>
    <form method="post" class="form-horizontal" >
        <div class="menu-group">
            <div style="padding:0px 0px 4px 10px;" >
                <a href="/master/tickettypes">券種グループマスタ一覧へ</a>
            </div>
            <% /* メッセージ */ %>
            <% if (message != '') { %>
            <p class="error message">
            <%= message %>
            </p>
            <% } %>
        </div>

        <% /* 券種グループコード */ %>
        <input type="hidden" name="_id" value="<%= forms._id %>">

        <%- include('form', { forms: forms }) %>

        <% /* 登録ボタン */ %>
        <div class="form-group">
            <div class="btn-area">
                <a class="btn btn-ok"><span>更新する</span></a>
            </div>
        </div>
    </form>
</div>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });
});
</script>
