<div class="col-sm-12 form-container">
<% /* フォーム */ %>
<form method="post" class="form-horizontal" >
  <div class="menu-group">
    <div style="padding:0px 0px 4px 10px;" >
      <a href="<%- url('master.film.list') %>"><%- __('Master.Label.toFilmAdd') %></a>
    </div>
    <% /* メッセージ */ %>
    <% if (filmModel.message != '') { %>
        <p class="error message">
          <%= filmModel.message %>
        </p>
    <% } %>
  </div>
  <% /* 作品コード */ %>
  <div class="form-group ">
    <label for="code" class="col-sm-2 control-label label-title">
      <%- __('Master.Form.FieldName.filmCode') %>
      <font color="red"><%- __('Master.Label.inputMust') %></font>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="filmCode" id="filmCode" placeholder="" maxlength=64 value=<%= filmModel.filmCode %>>
      <p class="message">
          <% /*半角64文字以内でご入力ください。*/ %>
          <%- __('Master.Label.inputHankaku{{maxlength}}', { maxlength: 64 }) %>
      </p>
      <p class="error message">
        <% if (req.form) { %>
          <%- req.form.getErrors('filmCode')[0] %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 作品名 */ %>
  <div class="form-group">
    <label for="filmNameJa" class="col-sm-2 control-label label-title">
      <%- __('Master.Form.FieldName.filmNameJa') %>
      <font color="red"><%- __('Master.Label.inputMust') %></font>
    </label>
    <div class="col-sm-10">
      <input class="form-control" name="filmNameJa" id="filmNameJa" placeholder="" maxlength=64 value=<%= filmModel.filmNameJa %>>
      <p class="message">
          <% /*全角64文字以内でご入力ください。*/ %>
          <%- __('Master.Label.inputZenkaku{{maxlength}}', { maxlength: 64 }) %>
      </p>
      <p class="error message">
        <% if (req.form) { %>
          <%- req.form.getErrors('filmNameJa')[0] %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 作品名カナ */ %>
  <div class="form-group">
    <label for="filmNameKana" class="col-sm-2 control-label label-title">
      <%- __('Master.Form.FieldName.filmNameKana') %>
      <font color="red"><%- __('Master.Label.inputMust') %></font>
    </label>
    <div class="col-sm-10">
      <input class="form-control" name="filmNameKana" id="filmNameKana" placeholder="" maxlength=64 value=<%= filmModel.filmNameKana %>>
      <p class="message">
          <% /*全角64文字以内でご入力ください。*/ %>
          <%- __('Master.Label.inputZenkaku{{maxlength}}', { maxlength: 64 }) %>
      </p>
      <p class="error message">
        <% if (req.form) { %>
          <%- req.form.getErrors('filmNameKana')[0] %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 作品名英 */ %>
  <div class="form-group">
    <label for="filmNameEn" class="col-sm-2 control-label label-title">
      <%- __('Master.Form.FieldName.filmNameEn') %>
    </label>
    <div class="col-sm-10">
      <input class="form-control" name="filmNameEn" id="filmNameEn" placeholder="" maxlength=128 value=<%= filmModel.filmNameEn %>>
      <p class="message">
          <% /*半角128文字以内でご入力ください。*/ %>
          <%- __('Master.Label.inputHankaku{{maxlength}}', { maxlength: 128 }) %>
      </p>
      <p class="error message">
        <% if (req.form) { %>
          <%- req.form.getErrors('filmNameEn')[0] %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 上映時間 */ %>
  <div class="form-group">
    <label for="filmMinutes" class="col-sm-2 control-label label-title">
      <%- __('Master.Form.FieldName.filmMinutes') %>
    </label>
    <div class="col-sm-10">
      <input class="form-control" style="width:30%;display:inline-block;" name="filmMinutes" id="filmMinutes" placeholder="" maxlength=10 value=<%= filmModel.filmMinutes %>>
      分
      <p class="message">
          <% /*半角10文字以内でご入力ください。*/ %>
          <%- __('Master.Label.inputHankaku{{maxlength}}', { maxlength: 10 }) %>
      </p>
      <p class="error message">
        <% if (req.form) { %>
          <%- req.form.getErrors('filmMinutes')[0] %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* レイティング */ %>
  <div class="form-group">
    <label for="filmRatings" class="col-sm-2 control-label label-title">
      <%- __('Master.Form.FieldName.filmRatings') %>
      <font color="red"><%- __('Master.Label.inputMust') %></font>
    </label>
    <div class="col-sm-10">
      <%
      let ratings = [
          {code: 'G', name: {ja: 'なし', en:'General Audience'}},
          {code: 'PG12', name: {ja: 'PG-12指定', en:'PG-12'}},
          {code: 'R15+', name: {ja: 'R-15指定', en:'R-15'}},
          {code: 'R18+', name: {ja: 'R-18指定', en:'R-18'}}
      ];
      %>
      <select name="filmRatings" id="filmRatings" class="form-control">
          <option value="">---</option>
          <% for (let rating of ratings) { %>
          <option value="<%= rating.code %>"<% if (filmModel.filmRatings === rating.code) { %> selected="selected"<% } %>><%- rating.name[locale] %></option>
          <% } %>
      </select>
      <p class="error message">
        <% if (req.form) { %>
          <%- req.form.getErrors('filmRatings')[0] %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 字幕/吹き替え */ %>
  <div class="form-group">
    <label for="subtitleDub" class="col-sm-2 control-label label-title">
      <%- __('Master.Form.FieldName.subtitleDub') %>
      <font color="red"><%- __('Master.Label.inputMust') %></font>
    </label>
    <div class="col-sm-10">
      <%
      let subtitles = [
          {code: 'subtitled', name: {ja: '字幕', en:'subtitled'}},
          {code: 'dubbed', name: {ja: '吹き替え', en:'dubbed'}}
      ];
      %>
      <select name="subtitleDub" id="subtitleDub" class="form-control">
          <option value="">---</option>
          <% for (let subtitle of subtitles) { %>
          <option value="<%= subtitle.code %>"<% if (filmModel.subtitleDub === subtitle.code) { %> selected="selected"<% } %>><%- subtitle.name[locale] %></option>
          <% } %>
      </select>
      <p class="error message">
        <% if (req.form) { %>
          <%- req.form.getErrors('subtitleDub')[0] %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 上映形態 */ %>
  <div class="form-group">
    <label for="screeningForm" class="col-sm-2 control-label label-title">
      <%- __('Master.Form.FieldName.screeningForm') %>
      <font color="red"><%- __('Master.Label.inputMust') %></font>
    </label>
    <div class="col-sm-10">
      <%
      let forms = [
          {code: 'normal', name: {ja: '通常上映', en:'normal'}},
          {code: 'ATMOS', name: {ja: 'ATMOS', en:'ATMOS'}},
          {code: 'IMAX', name: {ja: 'IMAX', en:'IMAX'}},
          {code: 'MX4D', name: {ja: 'MX4D', en:'MX4D'}},
          {code: 'TCX', name: {ja: 'TCX', en:'TCX'}}
      ];
      %>
      <select name="screeningForm" id="screeningForm" class="form-control">
          <option value="">---</option>
          <% for (let form of forms) { %>
          <option value="<%= form.code %>"<% if (filmModel.screeningForm === form.code) { %> selected="selected"<% } %>><%- form.name[locale] %></option>
          <% } %>
      </select>
      <p class="error message">
        <% if (req.form) { %>
          <%- req.form.getErrors('screeningForm')[0] %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 登録ボタン */ %>
  <div class="form-group">
    <div class="btn-area">
      <a class="btn btn-ok"><span><%- __('Master.Button.Add') %></span></a>
    </div>
  </div>
</form>
</div>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });

});
</script>

