<div class="col-sm-12 form-container">
<% /* フォーム */ %>
<form method="post" class="form-horizontal" >
  <div class="menu-group">
    <div style="padding:0px 0px 4px 10px;" >
      <a href="/master/films">作品マスタ一覧へ</a>
    </div>
    <% /* メッセージ */ %>
    <% if (message != '') { %>
        <p class="error message">
          <%= message %>
        </p>
    <% } %>
  </div>
  <% /* 作品コード */ %>
  <div class="form-group ">
    <label for="code" class="col-sm-2 control-label label-title">
      作品コード
      <font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="_id" id="_id" placeholder="" maxlength=64 value=<%= req.body._id %>>
      <p class="message">
          <% /*半角64文字以内でご入力ください。*/ %>
          半角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors._id) { %>
          <%- errors._id.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 作品名 */ %>
  <div class="form-group">
    <label for="nameJa" class="col-sm-2 control-label label-title">
      作品名
      <font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input class="form-control" name="nameJa" id="nameJa" placeholder="" maxlength=64 value=<%= req.body.nameJa %>>
      <p class="message">
          <% /*全角64文字以内でご入力ください。*/ %>
          全角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.nameJa) { %>
          <%- errors.nameJa.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 作品名カナ */ %>
  <div class="form-group">
    <label for="nameKana" class="col-sm-2 control-label label-title">
      作品名カナ
      <font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input class="form-control" name="nameKana" id="nameKana" placeholder="" maxlength=64 value=<%= req.body.nameKana %>>
      <p class="message">
          <% /*全角64文字以内でご入力ください。*/ %>
          全角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.nameKana) { %>
          <%- errors.nameKana.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 作品名英 */ %>
  <div class="form-group">
    <label for="nameEn" class="col-sm-2 control-label label-title">
      作品名英
    </label>
    <div class="col-sm-10">
      <input class="form-control" name="nameEn" id="nameEn" placeholder="" maxlength=128 value=<%= req.body.nameEn %>>
      <p class="message">
          <% /*半角128文字以内でご入力ください。*/ %>
          半角128文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.nameEn) { %>
          <%- errors.nameEn.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 上映時間 */ %>
  <div class="form-group">
    <label for="minutes" class="col-sm-2 control-label label-title">
      上映時間
    </label>
    <div class="col-sm-10">
      <input class="form-control" style="width:30%;display:inline-block;" name="minutes" id="minutes" placeholder="" maxlength=10 value=<%= req.body.minutes %>>
      分
      <p class="message">
          <% /*半角10文字以内でご入力ください。*/ %>
          半角10文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.minutes) { %>
          <%- errors.minutes.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* レイティング */ %>
  <div class="form-group">
    <label for="ratings" class="col-sm-2 control-label label-title">
      レイティング
      <font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <%
      let ratings = [
          {code: 'G', name: {ja: 'なし', en:'General Audience'}},
          {code: 'PG12', name: {ja: 'PG-12指定', en:'PG-12'}},
          {code: 'R15+', name: {ja: 'R-15指定', en:'R-15'}},
          {code: 'R18+', name: {ja: 'R-18指定', en:'R-18'}}
      ];
      %>
      <select name="ratings" id="ratings" class="form-control">
          <option value="">---</option>
          <% for (let rating of ratings) { %>
          <option value="<%= rating.code %>"<% if (req.body.ratings === rating.code) { %> selected="selected"<% } %>><%- rating.name.ja %></option>
          <% } %>
      </select>
      <p class="error message">
        <% if (errors && errors.ratings) { %>
          <%- errors.ratings.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 字幕/吹き替え */ %>
  <div class="form-group">
    <label for="subtitleDub" class="col-sm-2 control-label label-title">
      字幕/吹き替え
      <font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <%
      let subtitles = [
          {code: 'subtitled', name: {ja: '字幕', en:'subtitled'}},
          {code: 'dubbed', name: {ja: '吹き替え', en:'dubbed'}}
      ];
      %>
      <select name="subtitleDub" id="subtitleDub" class="form-control">
          <option value="">---</option>
          <% for (let subtitle of subtitles) { %>
          <option value="<%= subtitle.code %>"<% if (req.body.subtitleDub === subtitle.code) { %> selected="selected"<% } %>><%- subtitle.name.ja %></option>
          <% } %>
      </select>
      <p class="error message">
        <% if (errors && errors.subtitleDub) { %>
          <%- errors.subtitleDub.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 上映形態 */ %>
  <div class="form-group">
    <label for="screeningForm" class="col-sm-2 control-label label-title">
      上映形態
      <font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <%
      let forms = [
          {code: 'normal', name: {ja: '通常上映', en:'normal'}},
          {code: 'ATMOS', name: {ja: 'ATMOS', en:'ATMOS'}},
          {code: 'IMAX', name: {ja: 'IMAX', en:'IMAX'}},
          {code: 'MX4D', name: {ja: 'MX4D', en:'MX4D'}},
          {code: 'TCX', name: {ja: 'TCX', en:'TCX'}}
      ];
      %>
      <select name="screeningForm" id="screeningForm" class="form-control">
          <option value="">---</option>
          <% for (let form of forms) { %>
          <option value="<%= form.code %>"<% if (req.body.screeningForm === form.code) { %> selected="selected"<% } %>><%- form.name.ja %></option>
          <% } %>
      </select>
      <p class="error message">
        <% if (errors && errors.screeningForm) { %>
          <%- errors.screeningForm.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 登録ボタン */ %>
  <div class="form-group">
    <div class="btn-area">
      <a class="btn btn-ok"><span>登録する</span></a>
    </div>
  </div>
</form>
</div>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });

});
</script>

