<link href="/css/simplePagination.css" rel="stylesheet">
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/filmList.js"></script>
<% /* フォーム */ %>
<div class="col-sm-12 form-container search">
  <form method="post" class="form-horizontal" >
    <% /* 共通Hiddenコントロール */ %>
    <%- include('../../common/master/_hidden') %>
    <div class="menu-group">
      <% /* メッセージ */ %>
      <% if (filmModel.message != '') { %>
          <p class="error message">
            <%= filmModel.message %>
          </p>
      <% } %>
    </div>
    <% /* 作品コード */ %>
    <div class="form-group ">
      <label for="code" class="col-sm-2 control-label label-title">
        作品コード
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="filmCode" id="filmCode" placeholder="" maxlength=64 value="<%= filmModel.filmCode %>">
      </div>
    </div>
    <% /* 登録日 */ %>
    <div class="form-group form-inline">
      <label for="dateFrom" class="col-sm-2 control-label label-title">
        登録日
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control datepicker" name="dateFrom" id="dateFrom" />
        ～
        <input type="text" class="form-control datepicker" name="dateTo" id="dateTo" />
      </div>
    </div>
    <% /* 作品名 */ %>
    <div class="form-group">
      <label for="filmNameJa" class="col-sm-2 control-label label-title">
        作品名
      </label>
      <div class="col-sm-10">
        <input class="form-control" name="filmNameJa" id="filmNameJa" placeholder="" maxlength=64 value="<%= filmModel.filmNameJa %>">
      </div>
    </div>
    <% /* 作品名カナ */ %>
    <div class="form-group">
      <label for="filmNameKana" class="col-sm-2 control-label label-title">
        作品名カナ
      </label>
      <div class="col-sm-10">
        <input class="form-control" name="filmNameKana" id="filmNameKana" placeholder="" maxlength=64 value="<%= filmModel.filmNameKana %>">
      </div>
    </div>
    <% /* 作品名英 */ %>
    <div class="form-group">
      <label for="filmNameEn" class="col-sm-2 control-label label-title">
        作品名英
      </label>
      <div class="col-sm-10">
        <input class="form-control" name="filmNameEn" id="filmNameEn" placeholder="" maxlength=128 value="<%= filmModel.filmNameEn %>">
      </div>
    </div>
    <% /* 検索ボタン */ %>
    <div class="form-group">
      <div class="btn-area">
        <a class="btn btn-ok search"><span>検索する</span></a>
      </div>
      <div class="btn-area">
        <a class="reset-condition"><span>検索内容リセット</span></a>
      </div>
    </div>
  </form>
</div>
<% /* 一覧 */ %>
<div class="col-sm-12 form-container search">
  <div>
    <p id="searchedCount" style="display:none;">
      <% /* 検索結果XX件 */ %>
      検索結果 xx件
    </p>
  </div>
  <div id="list" class="table-responsive" style="display:none;">
    <table class="table table-bordered table-striped">
      <thead>
        <tr style="background-color:#d9d9d9">
          <th>
            <% /* 作品コード */ %>
            作品コード
          </th>
          <th style="text-align:left;">
            <% /* 作品名・カナ・英 */ %>
            作品名<br/>
            作品名カナ<br/>
            作品名英
          </th>
          <th>
            <% /* 上映時間(分) */ %>
            上映<br/>
            時間
            (分)
          </th>
          <th>
            <% /* 字幕/吹き替え */ %>
            字幕
            /<br/>
            吹き替え
          </th>
          <th>
            <% /* 上映形態 */ %>
            上映形態
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="templateRow" _id="$_id$">
          <% /* 作品コード */ %>
          <td name="filmCode">$filmCode$</td>
          <% /* 作品名 */ %>
          <td name="filmNameJa__filmNameKana__filmNameEn">
            $filmNameJa$<br/>
            $filmNameKana$<br/>
            $filmNameEn$<br/>
          </td>
          <% /* 上映時間(分) */ %>
          <td name="filmMinutes" style="text-align:right;">$filmMinutes$</td>
          <% /* 字幕/吹き替え */ %>
          <td name="subtitleDub">$subtitleDub$</td>
          <% /* 上映形態 */ %>
          <td name="screeningForm">$screeningForm$</td>
          <% /* 編集ボタン */ %>
          <td name="edit" class="center">
            <div class="btn-area">
              <a class="btn btn-list edit">
                <span>編集</span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="pager" class="div_pager_parent"></div>  
</div>
<% /* 共通Loading */ %>
<%- include('../../common/master/_loading') %>
