<form method="post" class="form-horizontal form-login" >
  <% /* ユーザーID */ %>
  <div class="form-group .form-inline">
    <label for="userId" class="col-sm-3 control-label label-title"><%- __('Master.Form.FieldName.loginId') %></label>
    <div class="col-sm-9">
      <input type="text" name="userId" id="userId" class="form-control" value="<%- form.userId %>">
      <p class="error message" style="text-align:left;">
        <% if (errors && errors.userId) { %>
          <%- errors.userId.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* パスワード */ %>
  <div class="form-group .form-inline">
    <label for="password" class="col-sm-3 control-label label-title"><%- __('Form.FieldName.password') %></label>
    <div class="col-sm-9">
      <input type="password" name="password" id="password" class="form-control" value="<%- form.password %>">
      <% /* 単体チェックエラー */ %>
      <p class="error message" style="text-align:left;">
        <% if (errors && errors.password) { %>
          <%- errors.password.msg %>
        <% } %>
      </p>
      <% /* 関連チェックエラー */ %>
      <% if (customErrors.length > 0) { %>
        <% customErrors.forEach(function (msg) { %>
        <p class="error message" style="text-align:left;"><%- msg %></p>
        <% }) %>
      <% } %>
    </div>
  </div>
  <% /* ログインボタン */ %>
  <div class="form-group">
    <div class="btn-area">
      <button type="button" class="btn btn-ok"><%- __('Button.Login') %></button>
    </div>
  </div>
</form>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });
});
</script>

