<link href="/css/bootstrap.colorpickersliders.css" rel="stylesheet">
<script src="/js/tinycolor-min.js"></script>
<script src="/js/bootstrap.colorpickersliders.js"></script>
<script src="/js/master/ticketTypeAdd.js"></script>
<div class="col-sm-12 form-container">
<% /* フォーム */ %>
<form method="post" class="form-horizontal" >
  <div class="menu-group">
    <div style="padding:0px 0px 4px 10px;" >
      <a href="/master/tickettypes">券種マスタ一覧へ</a>
    </div>
    <% /* メッセージ */ %>
    <% if (ticketTypeModel.message != '') { %>
        <p class="error message">
          <%= ticketTypeModel.message %>
        </p>
    <% } %>
  </div>
  <% /* 券種コード */ %>
  <div class="form-group ">
    <label for="ticketCode" class="col-sm-2 control-label label-title">
      券種コード<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="ticketCode" id="ticketCode" placeholder="" maxlength=64 value=<%= ticketTypeModel.ticketCode %>>
      <p class="message">
          半角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.ticketCode) { %>
          <%- errors.ticketCode.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* サイト表示用券種名 */ %>
  <div class="form-group ">
    <label for="ticketNameJa" class="col-sm-2 control-label label-title">
      サイト表示用券種名<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="ticketNameJa" id="ticketNameJa" placeholder="" maxlength=64 value=<%= ticketTypeModel.ticketNameJa %>>
      <p class="message">
          全角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.ticketNameJa) { %>
          <%- errors.ticketNameJa.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* サイト表示用券種名英 */ %>
  <div class="form-group ">
    <label for="ticketNameEn" class="col-sm-2 control-label label-title">
      サイト表示用券種名英<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="ticketNameEn" id="ticketNameEn" placeholder="" maxlength=64 value=<%= ticketTypeModel.ticketNameKana %>>
      <p class="message">
          半角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.ticketNameEn) { %>
          <%- errors.ticketNameEn.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 管理用券種名 */ %>
  <div class="form-group ">
    <label for="managementTypeName" class="col-sm-2 control-label label-title">
      管理用券種名<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="managementTypeName" id="managementTypeName" placeholder="" maxlength=64 value=<%= ticketTypeModel.ticketNameEn %>>
      <p class="message">
          全角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.managementTypeName) { %>
          <%- errors.managementTypeName.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 金額 */ %>
  <div class="form-group ">
    <label for="ticketCharge" class="col-sm-2 control-label label-title">
      金額<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="ticketCharge" id="ticketCharge" placeholder="" maxlength=10 value=<%= ticketTypeModel.ticketCharge %>>
      <p class="message">
          半角10文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.ticketCharge) { %>
          <%- errors.ticketCharge.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 補足説明 */ %>
  <div class="form-group">
    <label for="descriptionJa" class="col-sm-2 control-label label-title">
      補足説明
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="descriptionJa" id="descriptionJa" placeholder="" maxlength=64 value=<%= ticketTypeModel.descriptionJa %>>
      <p class="message">
          全角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.descriptionJa) { %>
          <%- errors.descriptionJa.msg %>
        <% } %>
      </p>
    </div>
  </div>
  <% /* 補足説明英 */ %>
  <div class="form-group ">
    <label for="descriptionEn" class="col-sm-2 control-label label-title">
      補足説明英
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="descriptionEn" id="descriptionEn" placeholder="" maxlength=64 value=<%= ticketTypeModel.descriptionEn %>>
      <p class="message">
          半角64文字以内でご入力ください。
      </p>
      <p class="error message">
        <% if (errors && errors.descriptionEn) { %>
          <%- errors.descriptionEn.msg %>
        <% } %>
      </p>
    </div>
  </div>

  <div class="form-group ">
    <label for="indicatorColor" class="col-sm-2 control-label label-title">
      入場時表示カラー
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control cp-preventtouchkeyboardonshow" name="indicatorColor" id="indicatorColor" style="background: rgb(0, 0, 255); color: rgb(255, 255, 255);" title="" >
      <input type="hidden" name="hiddenColor" id="hiddenColor">
    </div>
  </div>
  <% /* 登録ボタン */ %>
  <div class="form-group">
    <div class="btn-area">
      <a class="btn btn-ok"><span>登録する</span></a>
    </div>
  </div>
</form>
</div>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });
});
</script>

