
<% /* サイト表示用券種名 */ %>
<div class="form-group ">
    <label for="ticketNameJa" class="col-sm-2 control-label label-title">
        サイト表示用券種名<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="ticketNameJa" id="ticketNameJa" placeholder="" maxlength=64 value=<%= forms.ticketNameJa %>>
        <p class="message">
            全角64文字以内でご入力ください。
        </p>
        <p class="error message">
        <% if (errors && errors.ticketNameJa) { %>
            <%- errors.ticketNameJa.msg %>
        <% } %>
        </p>
    </div>
</div>

<% /* サイト表示用券種名英 */ %>
<div class="form-group ">
    <label for="ticketNameEn" class="col-sm-2 control-label label-title">
        サイト表示用券種名英<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="ticketNameEn" id="ticketNameEn" placeholder="" maxlength=64 value=<%= forms.ticketNameEn %>>
        <p class="message">
            半角64文字以内でご入力ください。
        </p>
        <p class="error message">
        <% if (errors && errors.ticketNameEn) { %>
            <%- errors.ticketNameEn.msg %>
        <% } %>
        </p>
    </div>
</div>

<% /* 管理用券種名 */ %>
<div class="form-group ">
    <label for="managementTypeName" class="col-sm-2 control-label label-title">
        管理用券種名<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="managementTypeName" id="managementTypeName" placeholder="" maxlength=64 value=<%= forms.managementTypeName %>>
        <p class="message">
            全角64文字以内でご入力ください。
        </p>
        <p class="error message">
        <% if (errors && errors.managementTypeName) { %>
            <%- errors.managementTypeName.msg %>
        <% } %>
        </p>
    </div>
</div>

<% /* 金額 */ %>
<div class="form-group ">
    <label for="ticketCharge" class="col-sm-2 control-label label-title">
        金額<font color="red">＊</font>
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="ticketCharge" id="ticketCharge" placeholder="" maxlength=10 value=<%= forms.ticketCharge %>>
        <p class="message">
            半角10文字以内でご入力ください。
        </p>
        <p class="error message">
        <% if (errors && errors.ticketCharge) { %>
            <%- errors.ticketCharge.msg %>
        <% } %>
        </p>
    </div>
</div>

<% /* 補足説明 */ %>
<div class="form-group">
    <label for="descriptionJa" class="col-sm-2 control-label label-title">
        補足説明
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="descriptionJa" id="descriptionJa" placeholder="" maxlength=64 value=<%= forms.descriptionJa %>>
        <p class="message">
            全角64文字以内でご入力ください。
        </p>
        <p class="error message">
        <% if (errors && errors.descriptionJa) { %>
            <%- errors.descriptionJa.msg %>
        <% } %>
        </p>
    </div>
</div>

<% /* 補足説明英 */ %>
<div class="form-group ">
    <label for="descriptionEn" class="col-sm-2 control-label label-title">
        補足説明英
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="descriptionEn" id="descriptionEn" placeholder="" maxlength=64 value=<%= forms.descriptionEn %>>
        <p class="message">
            半角64文字以内でご入力ください。
        </p>
        <p class="error message">
        <% if (errors && errors.descriptionEn) { %>
            <%- errors.descriptionEn.msg %>
        <% } %>
        </p>
    </div>
</div>

<% /* 入場時表示カラー */ %>
<div class="form-group ">
    <label for="indicatorColor" class="col-sm-2 control-label label-title">
        入場時表示カラー
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control cp-preventtouchkeyboardonshow" name="indicatorColor" id="indicatorColor" style="background: rgb(0, 0, 255); color: rgb(255, 255, 255);" title="" >
        <input type="hidden" name="hiddenColor" id="hiddenColor">
    </div>
</div>