<%- contentFor('title') %>
券種マスタ一覧
<%- contentFor('displayId') %>
Aa-6
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/ticketTypeList.js"></script>
<%- contentFor('body') %>
<% /* フォーム */ %>
<div class="col-sm-12 form-container search">
  <form method="post" class="form-horizontal" >
    <% /* 共通Hiddenコントロール */ %>
    <%- include('../../common/master/_hidden') %>
    <div class="menu-group">
      <% /* メッセージ */ %>
      <% if (message !== '') { %>
          <p class="error message">
            <%= message %>
          </p>
      <% } %>
    </div>
    <% /* 券種コード */ %>
    <div class="form-group ">
      <label for="ticketCode" class="col-sm-2 control-label label-title">
      券種コード
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="ticketCode" id="ticketCode" placeholder="" maxlength=64 value=<%= req.body.ticketCode %>>
      </div>
    </div>
    <% /* 管理用券種名 */ %>
    <div class="form-group ">
      <label for="managementTypeName" class="col-sm-2 control-label label-title">
      管理用券種名
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="managementTypeName" id="managementTypeName" placeholder="" maxlength=64 value=<%= req.body.ticketCode %>>
      </div>
    </div>
    <% /* 金額 */ %>
    <div class="form-group ">
      <label for="ticketCharge" class="col-sm-2 control-label label-title">
      金額
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="ticketCharge" id="ticketCharge" placeholder="" maxlength=64 value=<%= req.body.ticketCode %>>
      </div>
    </div>
    <% /* 検索ボタン */ %>
    <div class="form-group">
      <div class="btn-area">
        <a class="btn btn-ok search"><span>検索する</span></a>
      </div>
      <div class="btn-area">
        <a class='reset-condition'><span>検索内容リセット</span></a>
      </div>
    </div>
  </form>
</div>
<% /* 一覧 */ %>
<div class="col-sm-12 form-container search">
  <div>
    <p id="searchedCount" style="display:none;">
      検索結果$searched_count$件 
    </p>
  </div>
  <div id="list" class="table-responsive" style="display:none;">
    <table class="table table-bordered table-striped">
      <thead>
        <tr style="background-color:#d9d9d9">
          <th>券種コード</th>
          <!--<th>サイト表示用券種名</th>-->
          <th>管理用券種名</th>
          <th>金額(円)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="templateRow" _id="$_id$">
          <% /* 券種コード */ %>
          <td name="ticketCode">$ticketCode$</td>
          <% /* サイト表示用券種名 */ %>
          <!--<td name="ticketNameJa">$ticketNameJa$</td>-->
          <% /* 管理用券種名 */ %>
          <td name="managementTypeName">$managementTypeName$</td>
          <% /* 金額(円) */ %>
          <td name="ticketCharge" style="text-align:right;">$ticketCharge$</td>
          <% /* 編集ボタン */ %>
          <td name="edit" class="center">
            <div class="btn-area">
              <a class="btn btn-list edit" href="/master/ticketTypes/$id$/update">
                <span>編集</span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="pager" class="div_pager_parent"></div>  
</div>
<% /* 共通Loading */ %>
<%- include('../../common/master/_loading') %>
