<%- contentFor('title') %>
券種マスタ更新
<%- contentFor('displayId') %>
Aa-5
<%- contentFor('styles') %>
<link href="/css/bootstrap.colorpickersliders.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/tinycolor-min.js"></script>
<script src="/js/bootstrap.colorpickersliders.js"></script>
<script src="/js/master/ticketTypeAdd.js"></script>
<%- contentFor('body') %>
<div class="col-sm-12 form-container">
<% /* フォーム */ %>
<form method="post" class="form-horizontal" >
  <div class="menu-group">
      <div style="padding:0px 0px 4px 10px;" >
          <a href="/master/tickettypes">券種マスタ一覧へ</a>
      </div>
      <% /* メッセージ */ %>
      <% if (message !== '') { %>
          <p class="error message">
              <%= message %>
          </p>
      <% } %>
  </div>

  <input type="hidden" name="ticketCode" value=<%= forms.ticketCode %>>
  
  <%- include('form', {forms: forms}) %>

  <% /* 登録ボタン */ %>
  <div class="form-group">
    <div class="btn-area">
      <a class="btn btn-ok"><span>更新する</span></a>
    </div>
  </div>
</form>
</div>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });
});
</script>

